pipeline/graphicfile_child_1.json
{
	"name": "graphicfile_child_1",
	"properties": {
		"activities": [
			{
				"name": "ForEach Customer",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_c1_order",
									"type": "DatasetReference",
									"parameters": {
										"Filepath": {
											"value": "@concat(pipeline().parameters.Customername,'/',substring(utcnow(),0,4),'/',substring(utcnow(),5,2),'/','csv','/','Prestage_csvfiles')\n",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Graphicfile_child_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Customername": {
										"value": "@pipeline().parameters.Customername",
										"type": "Expression"
									},
									"lookupoutput": {
										"value": "@activity('Lookup1').output.value",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Childitems": {
				"type": "string"
			},
			"Customername": {
				"type": "string"
			}
		},
		"variables": {
			"Graphicfilename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Graphicfile"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-30T18:54:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}