pipeline/pl_adf_child_preUI.json
{
	"name": "pl_adf_child_preUI",
	"properties": {
		"activities": [
			{
				"name": "sv_pl_starttime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_starttime",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "exe_adf_master_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sv_pl_starttime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sv_year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sv_month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sv_week",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_adf_master_source_raw_prestage_stage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Pipelinestarttime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						},
						"Year": {
							"value": "@variables('Year')",
							"type": "Expression"
						},
						"Month": {
							"value": "@variables('Month')",
							"type": "Expression"
						},
						"week": {
							"value": "@variables('week')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sv_year",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Year",
					"value": {
						"value": "@substring(pipeline().TriggerTime,0,4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sv_month",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Month",
					"value": {
						"value": "@substring(pipeline().TriggerTime,5,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "exe_adf_Sanitycheck_1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exe_adf_master_pipeline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_sanitycheck_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Year": {
							"value": "@variables('Year')",
							"type": "Expression"
						},
						"Month": {
							"value": "@variables('Month')",
							"type": "Expression"
						},
						"PipelineStartTime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						},
						"week": {
							"value": "@variables('week')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "exe_adf_Sanitycheck_1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Sanity check-1 failed",
					"errorCode": "100"
				}
			},
			{
				"name": "exe_adf_master_email",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exe_adf_Sanitycheck_1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_adf_master_email",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineStartTime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						},
						"Year": {
							"value": "@variables('Year')",
							"type": "Expression"
						},
						"Month": {
							"value": "@variables('Month')",
							"type": "Expression"
						},
						"Week": {
							"value": "@variables('week')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "exe_adf_existance_checks",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exe_adf_Sanitycheck_1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_adf_second_sanity_check",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Year": {
							"value": "@variables('Year')",
							"type": "Expression"
						},
						"Month": {
							"value": "@variables('Month')",
							"type": "Expression"
						},
						"PipelineStartTime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						},
						"Week": {
							"value": "@variables('week')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sv_week",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "week",
					"value": {
						"value": "@if(\n\n    lessOrEquals(int(substring(pipeline().TriggerTime,8,2)),7),'week-1',\n\nif(\n\n    lessOrEquals(int(substring(pipeline().TriggerTime,8,2)),14),'week-2',\n\nif(\n\n    lessOrEquals(int(substring(pipeline().TriggerTime,8,2)),21),'week-3',\nif(\n\n    lessOrEquals(int(substring(pipeline().TriggerTime,8,2)),28),'week-4','week-5'\n\n    )\n\n    )\n\n    )\n\t)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fail2",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "exe_adf_master_pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Ingestion pipeline failed",
					"errorCode": "101"
				}
			},
			{
				"name": "exe_adf_master_aaa_customerorderdata",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exe_adf_existance_checks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_adf_master_aaa_CustomerOrderData_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Year": {
							"value": "@variables('Year')",
							"type": "Expression"
						},
						"Month": {
							"value": "@variables('Month')",
							"type": "Expression"
						},
						"PipelineStartTime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "exe_adf_UpdatePipelineEndTime",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exe_adf_master_aaa_customerorderdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_UpdatePipelineEndTime",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineStartTime": {
							"value": "@variables('pipeline_starttime')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pl_starttime": {
				"type": "string"
			}
		},
		"variables": {
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			},
			"week": {
				"type": "String"
			},
			"Filename": {
				"type": "String"
			},
			"pipeline_starttime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Child Pipelines/Child Pipelines Pre-UI"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-07T17:00:04Z"
	}
}