pipeline/pl_copydata_source_to_raw_adls.json
{
	"name": "pl_copydata_source_to_raw_adls",
	"properties": {
		"activities": [
			{
				"name": "Lookup INTO CONTROLTABLE",
				"description": " up into control table -Control_table_TripleA for source folder name which is the customername",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_Triplea",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup INTO CONTROLTABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup INTO CONTROLTABLE').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get Metadata of source",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_source_triplea_adls",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@item().Customername",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"childItems",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get Metadata of source",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_childpipeline_source_raw",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"childitems": {
										"value": "@activity('Get Metadata of source').output.childItems",
										"type": "Expression"
									},
									"source_folder_name": {
										"value": "@item().Customername",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Pipeline_source_to_raw"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-28T10:46:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}