pipeline/Sequential_Extract from PDF_to_CSV using sas url_copy1.json
{
	"name": "Sequential_Extract from PDF_to_CSV using sas url_copy1",
	"properties": {
		"description": "Use this template to extract data from a PDF source.",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_FMC_PDF_Raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach PDF file",
				"description": "Here we are getting the file name from the \nadlsa4ltriplea/FMCPDF/RAW",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Form Recognizer - POST",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WebActivity for dynamic SAS URL generation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().parameters.FormRecognizerURL",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Ocp-Apim-Subscription-Key": {
										"value": "@pipeline().parameters.FormRecognizerKey",
										"type": "Expression"
									},
									"contet-type": "application/pdf"
								},
								"body": {
									"value": "@concat('{\"urlSource\":\"',activity('Webactivity for dynamic SAS URL generation').output.Response,'\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetPDFData_Dataflow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "sequential_JsonToTable_binderkontraktjson-type42_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"Filename1": {
											"value": "'@{item().name}'",
											"type": "Expression"
										},
										"JSON_FILENAME": {
											"value": "'@{concat(item().name,'.','json')}'",
											"type": "Expression"
										},
										"CSV_FILENAME": {
											"value": "'@{concat(item().name,'.','csv')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						},
						{
							"name": "stage",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "sequential_stagejsonDataflow2_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"Key": {
											"value": "'@{pipeline().parameters.FormRecognizerKey}'",
											"type": "Expression"
										},
										"JSON_FILENAME": {
											"value": "'@{concat(item().name,'.','json')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"url": {
												"value": "@activity('Form Recognizer - POST').output.ADFWebActivityResponseHeaders['Operation-Location']",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Form Recognizer - POST",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 20
							}
						},
						{
							"name": "csvToAzureSqldb",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "GetPDFData_Dataflow",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Sequential_csvToSQLdb_Type4_copy1",
									"type": "DataFlowReference",
									"parameters": {
										"CSV_FILENAME": {
											"value": "'@{concat(item().name,'.','csv')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "WebActivity for dynamic SAS URL generation",
							"description": "This web activity connects to the logic apps, where it generates the sas url for the mentioned file",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-51.eastus.logic.azure.com:443/workflows/da16536601ad45388f63fcbed4239ad9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8r4etuCTo2flU4WkzgoEIU4hfmwm6hNMXK4iQUPt4m8",
								"method": "POST",
								"body": {
									"value": "{\n    \"blobpath\":\"@{variables('blobpath')}\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobpath",
								"value": {
									"value": "@concat('/fmcpdf/RAW/',item().name)\n\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FormRecognizerURL": {
				"type": "string",
				"defaultValue": "https://tripleaformrecog.cognitiveservices.azure.com/formrecognizer/documentModels/FMC_mixed_model:analyze?api-version=2022-08-31"
			},
			"FormRecognizerKey": {
				"type": "string",
				"defaultValue": "0987f7cf06fe4ff0a5f07ffaeb35986f"
			},
			"PDF_SourceURL": {
				"type": "string",
				"defaultValue": "https://adlsa4ltriplea.blob.core.windows.net/fmcpdf/RAW/FMC%20Purchase%20Order%20-%204500130257.pdf?sp=r&st=2023-05-24T12:36:58Z&se=2023-05-24T20:36:58Z&spr=https&sv=2022-11-02&sr=b&sig=78UR1AcvHCtdupb7ow3hQKAHlJbgdBpT0lRDknkboFw%3D"
			}
		},
		"variables": {
			"URL": {
				"type": "String"
			},
			"blobpath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PDF Extract"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-25T13:14:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}